 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }

    /* NAVBAR FIXE */
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #333;
      color: #fff;
      display: flex;
      justify-content: center;
      padding: 1rem 0;
      z-index: 1000;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      transition: background-color 0.3s;
    }

    nav a:hover {
      background-color: #555;
      border-radius: 5px;
    }


    section {
      padding: 100px 20px;
      height: 100vh;
    }

    #acceuil { background-color: #f4f4f4; }
    #apropos { background-color: #ddd; }
    #services { background-color: #bbb; }
    #contact { background-color: #999; }

 
    section::before {
      content: "";
      display: block;
      height: 60px; 
      margin-top: -60px;
    }